<template>
  <Layout>
    <section>
      <Header title="was wir machen." background="https://res.cloudinary.com/mixbened/image/upload/v1604004682/ANM/Titel_was_wir_machen_-_V2.png"/>
    </section>
    <section class="my-8 sm:my-20 sm:mb-32">
      <g-image alt="graphics anm" src="../assets/dreiecke/Dreieck-gelb-minus12Grad@2x.png" class="hidden sm:block absolute  right-0 -mt-32 mr-12" width="80"></g-image>
      <g-image alt="graphics anm" src="../assets/dreiecke/Dreieck-Petrol-klein@2x.png" class="hidden sm:block absolute  -mt-32 left-0 m-8" width="80"></g-image>
      <Intro_Main title="Formatoffene Live-Kommunikation. <br> Analog, digital und hybrid." text="So paradox es klingt: Je digitaler und vernetzter unsere Welt, desto größer das Bedürfnis nach echten Erlebnissen. Doch die sind längst nicht mehr nur real oder live. Immer mehr verschwimmen die Grenzen zwischen On- und Offline, virtuellem und realem Raum. Und genau hier sind wir zu Hause! <br> Wir helfen dir dabei, dein “echtes Erlebnis” zu entwickeln und deine Botschaften in Szene zu setzen. Passgenau, im richtigen Format. Unser Ziel: Dein Event zum Gipfelstürmer machen." />
    </section>
    <section class="mx-4 sm:mx-20 md:ml-32 mb-32">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mt-10">
          <div class="col-span-1 py-4 mr-8">
            <h3 class="leading-tight mb-2 uppercase font-semibold">KONZEPTION</h3>
            <p class="text-sm">Von der ersten Idee bis zum fertigen Konzept, von der Story bis zur finalen Dramaturgie. Gemeinsam überlegen wir, was zu dir passt und wie deine Botschaft am besten ankommt.</p>
          </div>
          <div class="col-span-1 py-4 mr-8">
            <h3 class="leading-tight mb-2 uppercase font-semibold">PRODUKTION</h3>
            <p class="text-sm">Content entwickeln, Einladungen erstellen, Banner beauftragen. Wir sorgen für alles, was dein Event braucht.</p>
          </div>
          <div class="col-span-1 py-4 mr-8">
            <h3 class="leading-tight mb-2 uppercase font-semibold">RECHT + SICHERHEIT</h3>
            <p class="text-sm">Ob gesetzeskonforme Versammlungsdurchführung oder Datensicherheit gemäß DSGVO. Es gibt Themen, mit denen will sich keiner befassen – wir schon!</p>
          </div>
          <div class="col-span-1 py-4 mr-8">
            <h3 class="leading-tight mb-2 uppercase font-semibold">BERATUNG + PLANUNG</h3>
            <p class="text-sm">Individuelle Lösungsansätze für deine Marke und Veranstaltung. Wir finden heraus, welches Format zu dir passt und planen dein einzigartiges Event. Analog, digital, hybrid.</p>
          </div>
          <div class="col-span-1 py-4 mr-8">
            <h3 class="leading-tight mb-2 uppercase font-semibold">UMSETZUNG</h3>
            <p class="text-sm">Wir betreuen dein Projekt von Beginn und steuern es bis zum sicheren Ende. Ob Technik, Catering, Künstler oder Regie – wir kümmern uns darum!</p>
          </div>
        </div>
    </section>
    <section class="bg-tertiary py-8 sm:py-24">
      <section id="analog" class="relative mx-4 text-center">
        <g-image alt="graphics anm" src="../assets/dreiecke/Dreieck-Pink-minus14grad@2x.png" class="hidden sm:block absolute right-0 mr-48 -mt-32" width="200"></g-image>
        <g-image alt="graphics anm" src="../assets/dreiecke/Dreieck-weiss-312Grad@2x.png" class="hidden sm:block absolute left-0 bottom-0 ml-64 mb-8" style="left:50%;" width="100"></g-image>
        <g-image alt="graphics anm" src="../assets/dreiecke/Dreieck-petrol-197Grad@2x.png" class="hidden sm:block absolute left-0 top-0 ml-24" width="80"></g-image>
        <h2 class="text-3xl mx-auto font-semibold uppercase inline-block leading-tight py-2 mb-10 border-b-4 border-black">Analoge Events</h2>
        <div class="grid grid-cols-1 sm:grid-cols-5 relative z-10">
          <div class="col-span-1"></div>
          <div class="col-span-2 mr-8">
            <g-image src="../assets/konfetti-unsplash-keywords2_transparent.png" alt="fernseher grafik" class="px-10"></g-image>
          </div>
          <div class="col-span-2">
            <div class="mt-10 border-l-4 border-black">
              <div class="px-4 mr-4">
                <h3 class="leading-tight mb-2 uppercase text-xl font-semibold text-left">Live will be back!</h3>
                <p class="text-left">Es sieht zwar gerade nicht danach aus, aber das klassische Event ist noch lange nicht tot. Denn gute Events binden uns ein, bringen uns zusammen und geben echte Orientierung im ansonsten "digital life". Wer Geschichten mit allen fünf Sinnen erlebt, erinnert sich auch an die Botschaft.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <section class="bg-primary text-white py-8 sm:py-24" id="digital">
      <g-image alt="graphics anm" src="../assets/dreiecke/Dreieck-weiss-312Grad@2x.png" class="hidden sm:block absolute right-0 mr-48 -mt-32" width="200"></g-image>
      <section class="mx-4 sm:mx-20 md:ml-32 py-4">
        <div class="grid grid-cols-1 lg:grid-cols-2 text-left">
          <div></div>
          <h3 class="inline-block border-b-4 border-white leading-tight mb-2 uppercase text-3xl font-semibold  mr-4 md:mr-32">Digitale Events</h3>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 text-left">
            <div class="col-span-1 py-4 mr-4 md:mr-32">
              <g-image src="../assets/vintageTV_stephen-monterroso-unsplash.png" alt="analog grafik"></g-image>
            </div>
            <div class="col-span-1 py-4 mr-4 lg:mr-32">
              <div>
                <h3 class="leading-tight my-2 uppercase text-xl font-semibold">We are Online!</h3>
                <p>Digitale Events und virtuelle Messen sind aus der Veranstaltungslandschaft nicht mehr wegzudenken. Doch ein Live-Projekt lässt sich nicht 1:1 digital übersetzen. Wo vorher fünf Sinne angesprochen wurden, werden digital nur zwei erreicht (Sehen + Hören). <br> <br>Zum Glück kennen und nutzen wir die richtigen Tools, um dein Event zu digitalisieren und für das Internet fit zu machen. Damit Inhalte spannend bleiben, legen wir Wert auf eine gute Dramaturgie, viel Action und Interaktion. Wegklicken? Keine Chance!</p>
              </div>
              <div class="my-4">
                <div>
                  <h4 class="leading-tight uppercase text-xl font-semibold">WAS GIBT ES FÜR DIGITALE EVENTS?</h4>
                  <ul class="ml-6 list-disc mt-2">
                      <li class="py-1">Livestreams</li>
                      <li class="py-1">Virtuelle Messen</li>
                      <li class="py-1">Online-Konferenzen</li>
                      <li class="py-1">Digitale Workhops und Schulungen</li>
                      <li class="py-1">Teambuildings und Mitarbeiter-Events</li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </section>
    </section>
    <section class="bg-secondary text-white py-8 sm:py-24" id="hybrid">
      <section class="mx-4 sm:mx-20 lg:mx-32 lg:ml-64 py-4 lg:w-2/3">
      <g-image alt="graphics anm" src="../assets/dreiecke/Dreieck-weiss-312Grad@2x.png" class="hidden sm:block absolute right-0 mr-48 -mt-20" width="80"></g-image>
      <g-image alt="graphics anm" src="../assets/dreiecke/Dreieck-gelb-minus12Grad@2x.png" class="hidden sm:block absolute right-0 mr-20 mt-56" width="80"></g-image>
      <g-image alt="graphics anm" src="../assets/dreiecke/Dreieck-Pink-minus14grad@2x.png" class="hidden sm:block absolute left-0 mt-48 ml-20" width="100"></g-image>
        <div class=" relative z-10">
              <h3 class="inline-block border-b-4 border-white leading-tight mb-2 uppercase text-3xl font-semibold">Hybride Events</h3>
              <div class="flex lg:flex-row flex-col">
                <div class="py-4 mr-4 sm:mr-32">
                  <g-image class="sm:mt-20" src="../assets/the-new-york-public-library-yEauzeZU6xo-unsplash.png" alt="analog grafik"></g-image>
                </div>
                <div class="order-last lg:order-first">
                  <h3 class="leading-tight my-2 uppercase text-xl font-semibold">DIE ZUKUNFT WIRD HYBRID!</h3>
                  <div class="my-2">
                    <p>Das Beste aus zwei Welten. Der Mix aus physischer Veranstaltung, digitaler Übertragung und Teilnahme in Echtzeit. Zukünftige Veranstaltungsformate funktionieren parallel: Für Teilnehmer, die live dabei sein wollen und für diejenigen, die das Event online erleben möchten. <br> Ein Hybrid-Event ist wie eine Erstbesteigung. Eigentlich ist klar, wo es langgeht, aber unterwegs kann alles ganz anders laufen – that’s live! Wir gehen diese Expedition gemeinsam mit dir und sorgen dafür, dass alle Teilnehmer oben ankommen.</p>
                  </div>
                  <div class="my-12 border-l-4 px-4">
                    <h2 class="text-xl font-semibold">Was sind Vorteile von hybriden Events</h2>
                    <ul class="list-disc my-2 ml-4">
                        <li> Hohe Reichweite <hr class="inline-block w-2 align-middle border-white"> Ortsunabhängige Teilnahme möglich</li>
                        <li>Image <hr class="inline-block w-2 align-middle border-white"> Positionierung als innovativer und zukunftsfähiger Veranstalter</li>
                        <li>Nachhaltigkeit <hr class="inline-block w-2 align-middle border-white"> Senkung der Umweltbelastung, weniger Reiseverkehrh</li>
                        <li>Content-Nutzung <hr class="inline-block w-2 align-middle border-white"> Vorteil für Nachbereitung oder neue Bewerbung</li>
                        <li>Insights <hr class="inline-block w-2 align-middle border-white"> Tracking vom digitalen Teilnehmermanagement</li>
                    </ul>
                  </div>
                </div>
              </div>
        </div>
      </section>
    </section>
  </Layout>
  
</template>

<script>
import InfoCard from '../components/InfoCard'
import Header from '../components/Header'
import Intro_Main from '../components/Intro_Main'
import FullBanner from '../components/FullBanner'

export default {
  metaInfo: {
    title: 'Leistungen'
  },
  components: {
    InfoCard,
    Header,
    Intro_Main,
    FullBanner
  },
  data() {
    return {
      isActive: 'none'
    };
  },
  methods: {
    changeView: function(val){
      this.isActive = val
    }
  }
}
</script>

<style scoped>
.border-bottom {
  border-bottom: 2px solid gray;
}
.active {
 opacity: 1 !important;
}
</style>
